.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 100px;
  text-align: left;
}
.App-header .singleCounter {
  margin: 0 10px;
  padding-right: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.App-link {
  color: #61dafb;
}
.counter{
  display: inline-block;
}
.singleCounter{
  border: 1px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
