.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.light {
  background-color: #fff;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
.btn {
  font-size: 150px;
  border-radius: 10px;
}
.btn-dark{
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow: 5px 10px #fafaee;
}
.btn-light{
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
