.btn{
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
}
.btn-minus, .btn-plus{
    border-radius: 50%;
    margin: 20px;
}
.btn-minus{
        padding: 0 10px 2px 10px;
}
.btn-reset{
    border-radius: 10px;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.btn-close{
    background-color: red;
    color: white;
    border: 1px solid white
}
.btn-save{
    background-color: green;
    color: white;
    border: 1px solid white
}
.m-r-30{
    margin-right: 30px ;
}
.m-l-30{
    margin-left: 30px ;
}